# Feature Engineering - Telecom Churn Prediction

On average it costs a company more than 05 times more to aquire a new customer than to retain an existing customer. 

Telcom companies spend huge amonuts and energy to recruit new subscibers,and for some reasons, some customers will leave THE network. This becomes a problem, as Telecom companies ussually incur huge costs to attract subscribers. 

We going to performed __Feature Engineering__ as part of the steps towards building and deploying a churn prediction model, based on the dataset from the BigML website : https://bigml.com/user/francisco/gallery/dataset/5163ad540c0b5e5b22000383

Here are the steps we will take in this EDA section
- Importing Libraries
- Train-test split
- Missing Values
- Temporary variables
- Categorical Variables:Rare categories
- Standardising variables

### 1.)Importing libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

pd.set_option("display.max_columns",None)

import warnings
warnings.filterwarnings("ignore")

In [2]:
dataset = pd.read_csv("bigml_57a66241af447f0b23000948.csv")
dataset.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [3]:
dataset.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

### 2.) Train-test split

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
X = dataset.drop('Churn',axis = 1)

In [6]:
y = dataset['Churn']

In [7]:
#from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    stratify=y, 
                                                    test_size=0.2,random_state=42)

In [13]:
y_test

601      True
2050    False
3200    False
1953    False
1119    False
        ...
2649    False
1763    False
950     False
1652    False
1962    False
Name: Churn, Length: 667, dtype: bool

In [14]:
trainset = pd.concat([X_train,y_train],axis = 1)

In [15]:
trainset

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3286,OH,106,415,No,Yes,30,220.1,105,37.42,222.2,109,18.89,158.4,96,7.13,13.1,8,3.54,0,False
86,IN,94,408,No,No,0,157.9,105,26.84,155.0,101,13.18,189.6,84,8.53,8.0,5,2.16,4,True
1349,KY,71,510,No,Yes,22,141.4,107,24.04,163.0,105,13.86,220.0,99,9.90,5.6,3,1.51,2,False
1649,NH,130,408,No,No,0,68.4,86,11.63,193.3,110,16.43,171.5,139,7.72,10.4,4,2.81,0,False
3000,NJ,87,510,No,No,0,223.2,109,37.94,127.5,86,10.84,289.3,83,13.02,14.5,4,3.92,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2670,WY,116,510,No,Yes,12,221.0,108,37.57,151.0,118,12.84,179.0,80,8.06,9.0,6,2.43,2,False
2165,MO,160,415,No,No,0,171.2,103,29.10,243.5,121,20.70,178.2,92,8.02,13.0,3,3.51,2,False
2988,VA,105,415,No,No,0,259.3,96,44.08,175.2,97,14.89,222.4,36,10.01,12.0,5,3.24,3,False
179,KS,70,408,No,No,0,232.1,122,39.46,292.3,112,24.85,201.2,112,9.05,0.0,0,0.00,3,False
2762,DC,80,408,No,No,0,51.5,90,8.76,164.0,98,13.94,169.4,80,7.62,9.5,4,2.57,3,False

In [16]:
testset = pd.concat([X_test,y_test],axis = 1)

In [17]:
testset

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
601,MA,62,415,Yes,No,0,159.7,86,27.15,197.5,76,16.79,121.6,105,5.47,13.9,6,3.75,0,True
2050,MT,121,408,No,No,0,213.2,79,36.24,120.7,116,10.26,244.4,102,11.00,7.5,4,2.03,1,False
3200,CT,100,510,Yes,No,0,107.2,98,18.22,86.8,122,7.38,156.2,117,7.03,9.7,4,2.62,1,False
1953,WA,137,408,No,No,0,208.8,120,35.50,225.3,100,19.15,221.6,130,9.97,11.1,5,3.00,0,False
1119,OK,189,415,No,No,0,208.3,106,35.41,236.7,123,20.12,179.1,120,8.06,11.3,5,3.05,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2649,MN,84,415,No,No,0,216.1,114,36.74,197.5,107,16.79,217.8,104,9.80,9.8,3,2.65,1,False
1763,WY,93,408,No,Yes,42,166.9,101,28.37,273.2,84,23.22,171.0,106,7.69,11.5,1,3.11,1,False
950,AK,108,415,No,No,0,103.0,129,17.51,242.3,103,20.60,170.2,89,7.66,7.9,3,2.13,1,False
1652,TN,176,415,No,Yes,23,283.2,130,48.14,162.6,74,13.82,177.7,104,8.00,7.2,6,1.94,1,False
1962,NM,94,415,No,No,0,108.0,79,18.36,241.9,152,20.56,252.1,92,11.34,10.4,3,2.81,3,False

### 3.) Handling Missing Values

In [18]:
trainset.isna().any()

State                     False
Account length            False
Area code                 False
International plan        False
Voice mail plan           False
Number vmail messages     False
Total day minutes         False
Total day calls           False
Total day charge          False
Total eve minutes         False
Total eve calls           False
Total eve charge          False
Total night minutes       False
Total night calls         False
Total night charge        False
Total intl minutes        False
Total intl calls          False
Total intl charge         False
Customer service calls    False
Churn                     False
dtype: bool

There are no missing values.

### Categorical Variable Treatment

In [19]:
categorical_features = [feature for feature in trainset.columns if trainset[feature].dtype == 'O']

In [20]:
print(categorical_features)

['State', 'International plan', 'Voice mail plan']

In [21]:
print(trainset['State'].unique())

['OH' 'IN' 'KY' 'NH' 'NJ' 'KS' 'WI' 'LA' 'ME' 'HI' 'TN' 'NV' 'ID' 'FL'
 'CO' 'NC' 'MD' 'WA' 'WV' 'OR' 'RI' 'NM' 'NY' 'AZ' 'MS' 'IA' 'DC' 'NE'
 'GA' 'OK' 'TX' 'AL' 'MN' 'MT' 'PA' 'MI' 'CA' 'DE' 'WY' 'MO' 'CT' 'AK'
 'VA' 'IL' 'UT' 'SD' 'SC' 'ND' 'MA' 'VT' 'AR']

In [44]:
#for feature in categorical_features:
    #temp_df = dataset.groupby(feature)['Churn'].count()/len(dataset)
    #temp_df = temp_df[temp_df > 0.022].index
    #dataset[feature] = np.where(dataset[feature].isin(temp_df),dataset[feature],"Rare Categories")

In [23]:
print(trainset['International plan'].unique())
print(trainset['Voice mail plan'].unique())

['No' 'Yes']
['Yes' 'No']

In [25]:
#Import Library for label-encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [26]:
trainset['Voice mail plan'] = le.fit_transform(trainset['Voice mail plan'])
trainset['International plan'] = le.fit_transform(trainset['International plan'])

In [27]:
trainset.head(20)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3286,OH,106,415,0,1,30,220.1,105,37.42,222.2,109,18.89,158.4,96,7.13,13.1,8,3.54,0,False
86,IN,94,408,0,0,0,157.9,105,26.84,155.0,101,13.18,189.6,84,8.53,8.0,5,2.16,4,True
1349,KY,71,510,0,1,22,141.4,107,24.04,163.0,105,13.86,220.0,99,9.90,5.6,3,1.51,2,False
1649,NH,130,408,0,0,0,68.4,86,11.63,193.3,110,16.43,171.5,139,7.72,10.4,4,2.81,0,False
3000,NJ,87,510,0,0,0,223.2,109,37.94,127.5,86,10.84,289.3,83,13.02,14.5,4,3.92,3,False
1824,KS,138,510,0,1,26,183.9,83,31.26,240.7,93,20.46,185.7,125,8.36,15.0,3,4.05,1,False
1775,WI,142,408,0,1,24,239.8,103,40.77,285.9,65,24.30,256.7,106,11.55,9.5,4,2.57,0,False
453,LA,149,415,0,1,20,198.9,77,33.81,274.0,88,23.29,190.7,76,8.58,14.3,9,3.86,1,False
93,ME,78,415,0,0,0,252.9,93,42.99,178.4,112,15.16,263.9,105,11.88,9.5,7,2.57,3,False
2152,HI,155,415,1,1,26,211.7,121,35.99,139.2,123,11.83,146.7,89,6.60,11.1,3,3.00,1,False
1240,TN,108,510,0,1,34,162.1,83,27.56,171.8,117,14.60,259.8,76,11.69,9.6,3,2.59,4,True
233,NV,53,415,0,0,0,168.8,97,28.70,220.3,87,18.73,154.3,113,6.94,10.9,2,2.94,0,False
2383,ID,68,510,0,1,30,122.9,93,20.89,233.5,91,19.85,199.5,144,8.98,9.6,2,2.59,2,False
2158,FL,166,510,1,0,0,47.7,89,8.11,264.4,95,22.47,235.2,97,10.58,13.2,3,3.56,0,True
1805,CO,63,415,0,0,0,211.8,84,36.01,230.9,137,19.63,217.1,99,9.77,10.7,9,2.89,3,False
2763,NC,116,408,0,1,19,155.7,104,26.47,185.4,118,15.76,192.7,116,8.67,8.2,2,2.21,3,False
895,MD,106,415,0,0,0,165.3,118,28.10,210.0,101,17.85,187.2,93,8.42,8.5,3,2.30,2,False
65,WA,40,415,0,1,41,148.1,74,25.18,169.5,88,14.41,214.1,102,9.63,6.2,5,1.67,2,False
3329,WV,68,415,0,0,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
1055,OR,161,415,0,0,0,178.1,109,30.28,146.5,86,12.45,137.6,78,6.19,8.5,2,2.30,1,False

### Feature Scaling

In [28]:
feature_scale = [feature for feature in X_train.columns if feature not in ['State','Area code','Account length','International plan','Voice mail plan','Customer service calls']]

In [30]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X_train[feature_scale])

MinMaxScaler()

In [31]:
data = pd.concat([trainset[['State','Area code','Account length','International plan','Voice mail plan','Customer service calls']].reset_index(drop=True),
                        pd.DataFrame(scaler.transform(trainset[feature_scale]), columns = feature_scale)],
                                axis=1)

In [32]:
trainset.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3286,OH,106,415,0,1,30,220.1,105,37.42,222.2,109,18.89,158.4,96,7.13,13.1,8,3.54,0,False
86,IN,94,408,0,0,0,157.9,105,26.84,155.0,101,13.18,189.6,84,8.53,8.0,5,2.16,4,True
1349,KY,71,510,0,1,22,141.4,107,24.04,163.0,105,13.86,220.0,99,9.90,5.6,3,1.51,2,False
1649,NH,130,408,0,0,0,68.4,86,11.63,193.3,110,16.43,171.5,139,7.72,10.4,4,2.81,0,False
3000,NJ,87,510,0,0,0,223.2,109,37.94,127.5,86,10.84,289.3,83,13.02,14.5,4,3.92,3,False

In [34]:
trainset.drop(['State','Area code','Account length'],axis = 1,inplace = True)

In [35]:
trainset

,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3286,0,1,30,220.1,105,37.42,222.2,109,18.89,158.4,96,7.13,13.1,8,3.54,0,False
86,0,0,0,157.9,105,26.84,155.0,101,13.18,189.6,84,8.53,8.0,5,2.16,4,True
1349,0,1,22,141.4,107,24.04,163.0,105,13.86,220.0,99,9.90,5.6,3,1.51,2,False
1649,0,0,0,68.4,86,11.63,193.3,110,16.43,171.5,139,7.72,10.4,4,2.81,0,False
3000,0,0,0,223.2,109,37.94,127.5,86,10.84,289.3,83,13.02,14.5,4,3.92,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2670,0,1,12,221.0,108,37.57,151.0,118,12.84,179.0,80,8.06,9.0,6,2.43,2,False
2165,0,0,0,171.2,103,29.10,243.5,121,20.70,178.2,92,8.02,13.0,3,3.51,2,False
2988,0,0,0,259.3,96,44.08,175.2,97,14.89,222.4,36,10.01,12.0,5,3.24,3,False
179,0,0,0,232.1,122,39.46,292.3,112,24.85,201.2,112,9.05,0.0,0,0.00,3,False
2762,0,0,0,51.5,90,8.76,164.0,98,13.94,169.4,80,7.62,9.5,4,2.57,3,False

In [36]:
#Export to CSV file
trainset.to_csv('train_clean.csv',index = False)