# Feature Engineering - Telecom Churn Prediction

On average it costs a company more than 05 times more to aquire a new customer than to retain an existing customer. 

Telcom companies spend huge amonuts and energy to recruit new subscibers,and for some reasons, some customers will leave THE network. This becomes a problem, as Telecom companies ussually incur huge costs to attract subscribers. 

We going to performed __Feature Engineering__ as part of the steps towards building and deploying a churn prediction model, based on the dataset from the BigML website : https://bigml.com/user/francisco/gallery/dataset/5163ad540c0b5e5b22000383

Here are the steps we will take in this EDA section
- Importing Libraries
- Train-test split
- Missing Values
- Temporary variables
- Categorical Variables:Rare categories
- Standardising variables

### 1.)Importing libraries

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

pd.set_option("display.max_columns",None)

import warnings
warnings.filterwarnings("ignore")

In [34]:
dataset = pd.read_csv("bigml_57a66241af447f0b23000948.csv")
dataset.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [35]:
dataset.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

### 2.) Train-test split

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X = dataset.drop('Churn',axis = 1)

In [38]:
y = dataset['Churn']

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    stratify=y, 
                                                    test_size=0.2,random_state=42)

### 3.) Handling Missing Values

In [40]:
dataset.isna().any()

State                     False
Account length            False
Area code                 False
International plan        False
Voice mail plan           False
Number vmail messages     False
Total day minutes         False
Total day calls           False
Total day charge          False
Total eve minutes         False
Total eve calls           False
Total eve charge          False
Total night minutes       False
Total night calls         False
Total night charge        False
Total intl minutes        False
Total intl calls          False
Total intl charge         False
Customer service calls    False
Churn                     False
dtype: bool

There are no missing values.

### Outliers Treatment

### Categorical Variable Treatment

In [41]:
categorical_features = [feature for feature in X_train.columns if X_train[feature].dtype == 'O']

In [42]:
print(categorical_features)

['State', 'International plan', 'Voice mail plan']

In [43]:
print(X_train['State'].unique())

['OH' 'IN' 'KY' 'NH' 'NJ' 'KS' 'WI' 'LA' 'ME' 'HI' 'TN' 'NV' 'ID' 'FL'
 'CO' 'NC' 'MD' 'WA' 'WV' 'OR' 'RI' 'NM' 'NY' 'AZ' 'MS' 'IA' 'DC' 'NE'
 'GA' 'OK' 'TX' 'AL' 'MN' 'MT' 'PA' 'MI' 'CA' 'DE' 'WY' 'MO' 'CT' 'AK'
 'VA' 'IL' 'UT' 'SD' 'SC' 'ND' 'MA' 'VT' 'AR']

In [44]:
#for feature in categorical_features:
    #temp_df = dataset.groupby(feature)['Churn'].count()/len(dataset)
    #temp_df = temp_df[temp_df > 0.022].index
    #dataset[feature] = np.where(dataset[feature].isin(temp_df),dataset[feature],"Rare Categories")

In [45]:
print(X_train['International plan'].unique())
print(X_train['Voice mail plan'].unique())

['No' 'Yes']
['Yes' 'No']

In [46]:
#Import Library for label-encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [47]:
X_train['Voice mail plan'] = le.fit_transform(X_train['Voice mail plan'])
X_train['International plan'] = le.fit_transform(X_train['International plan'])

In [287]:
X_train.head(20)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
1112,ID,82,408,0,0,0,101.0,93,17.17,155.6,104,13.23,304.4,93,13.70,13.3,2,3.59,0
3112,AR,115,415,0,0,0,139.3,89,23.68,192.3,95,16.35,151.0,75,6.80,9.3,3,2.51,7
2863,ME,28,415,0,0,0,236.8,102,40.26,167.1,87,14.20,280.2,115,12.61,9.7,3,2.62,3
1909,VT,195,415,0,1,36,231.7,110,39.39,225.1,88,19.13,201.7,89,9.08,12.1,2,3.27,0
273,WY,139,415,0,0,0,192.8,104,32.78,234.4,96,19.92,203.2,101,9.14,13.0,3,3.51,3
199,DC,63,408,0,0,0,83.0,64,14.11,177.0,106,15.05,245.7,89,11.06,13.0,3,3.51,0
409,TX,145,415,0,0,0,187.9,110,31.94,197.0,117,16.75,167.0,108,7.52,4.8,4,1.30,2
1218,KS,131,415,0,1,28,249.6,87,42.43,227.2,138,19.31,239.9,92,10.80,7.6,3,2.05,3
2167,CA,120,510,0,0,0,134.8,94,22.92,204.1,106,17.35,238.4,109,10.73,6.7,8,1.81,1
440,AR,135,510,0,1,27,273.4,141,46.48,154.0,99,13.09,245.8,112,11.06,12.3,6,3.32,1
523,MO,61,408,0,0,0,45.0,108,7.65,151.3,74,12.86,152.9,94,6.88,9.8,6,2.65,2
2060,MI,127,510,0,1,25,203.8,118,34.65,267.1,48,22.70,225.1,105,10.13,7.3,5,1.97,0
748,LA,106,408,0,0,0,220.7,120,37.52,270.2,95,22.97,121.6,113,5.47,8.7,5,2.35,1
266,RI,114,510,0,1,28,225.8,94,38.39,193.0,117,16.41,232.4,100,10.46,8.4,9,2.27,4
3083,MO,174,510,0,0,0,235.5,108,40.04,142.3,143,12.10,316.7,131,14.25,12.5,5,3.38,0
2263,UT,32,510,0,1,26,243.5,137,41.40,236.8,108,20.13,173.3,149,7.80,9.0,9,2.43,1
830,CO,121,408,1,0,0,167.7,94,28.51,93.7,121,7.96,241.3,115,10.86,13.4,1,3.62,3
3215,WV,23,510,0,1,31,156.6,84,26.62,161.5,96,13.73,294.6,107,13.26,9.4,6,2.54,1
3291,MI,119,510,1,1,22,172.1,119,29.26,223.6,133,19.01,150.0,94,6.75,13.9,20,3.75,1
100,IA,98,510,0,1,21,161.2,114,27.40,252.2,83,21.44,160.2,92,7.21,4.4,8,1.19,4

### Feature Scaling

In [308]:
feature_scale = [feature for feature in X_train.columns if feature not in ['State','Area code','Account length','International plan','Voice mail plan','Customer service calls']]

In [309]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X_train[feature_scale])

MinMaxScaler()

In [310]:
data = pd.concat([X_train[['State','Area code','Account length','International plan','Voice mail plan','Customer service calls']].reset_index(drop=True),
                        pd.DataFrame(scaler.transform(X_train[feature_scale]), columns = feature_scale)],
                                axis=1)

In [311]:
data.head()

,State,Area code,Account length,International plan,Voice mail plan,Customer service calls,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge
0,ID,408,82,0,0,0,0.000000,0.291234,0.563636,0.291214,0.427825,0.619048,0.428017,0.756321,0.422535,0.756724,0.703704,0.10,0.703922
1,AR,415,115,0,0,7,0.000000,0.401672,0.539394,0.401628,0.528732,0.565476,0.528955,0.343733,0.295775,0.344292,0.492063,0.15,0.492157
2,ME,415,28,0,0,3,0.000000,0.682814,0.618182,0.682836,0.459445,0.517857,0.459398,0.691232,0.577465,0.691572,0.513228,0.15,0.513725
3,VT,415,195,0,1,0,0.705882,0.668108,0.666667,0.668080,0.618917,0.523810,0.618894,0.480097,0.394366,0.480574,0.640212,0.10,0.641176
4,WY,415,139,0,0,3,0.000000,0.555940,0.630303,0.555970,0.644487,0.571429,0.644452,0.484131,0.478873,0.484160,0.687831,0.15,0.688235